{% if nav|length > 1 %}
    <aside class="menu">
        <p class="menu-label">Articles</p>
        {% for nav_item in nav %}
            {% if nav_item.children %}
                <ul class="menu-list">
                    <a>{{ nav_item.title }}</a>
                    <ul>
                        {% for nav_item in nav_item.children %}
                            <a href="{{ nav_item.url|url }}" class="{% if nav_item.active %}is-active{% endif %}">{{ nav_item.title }}</a>
                        {% endfor %}
                    </ul>
                </ul>
            {% else %}
                <ul class="menu-list">
                    <a href="{{ nav_item.url|url }}" class="{% if nav_item.active %}is-active{% endif %}">{{ nav_item.title }}</a>
                </ul>
            {% endif %}
        {% endfor %}
    </aside>
{% endif %}